{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- recipe title goes in these h1 tags -->
                <h1 class="post-title">{{ recipe.title }}</h1>
                <!-- Recipe author goes before the | the recipe's created date goes after -->
                <p class="post-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/toast.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                {% for ingredientquantity in ingredient_quantities %}
                <p class="card-text">
                    {{ ingredientquantity.ingredient }}: {{ ingredientquantity.quantity }}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}