{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <!-- Left col = image, title, author & ingredients-->
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/toast.jpg' %}" class="scale" alt="placeholder">

                <h1 class="post-title">{{ recipe.title }}</h1>
                <p class="post-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
                <div class="card-body">
                    {% for ingredientquantity in ingredient_quantities %}
                    <p class="card-text">
                        {{ ingredientquantity.ingredient }}: {{ ingredientquantity.quantity }}
                    </p>
                    {% endfor %}
                </div>
            </div>
            <!-- Right column = method & comments-->
            <div class="col-md-6 masthead-text">
                <h3>Method</h3>
                <!-- safe filter allows HTML formatting to be applied -->
                <p>{{ recipe.instructions | safe}}</p>
            </div>
        </div>
    </div>

    <!-- <div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                {% for ingredientquantity in ingredient_quantities %}
                <p class="card-text">
                    {{ ingredientquantity.ingredient }}: {{ ingredientquantity.quantity }}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div> -->

    {% endblock content %}