#parent .recipe-link {
    text-decoration: none;
    color: black;
}

.btn-signup {
    background-color: #d28b49;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #d28b49;
}

footer p i {
    font-size: x-large;
}

.logo {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
}

#parent .ingredientsList p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
