footer p i, footer p a {
    text-decoration: none;
    color: black;
}

footer p i {
    font-size: 1.5rem;
}

body {
    background: #f0f0f0;
}

.btn-signup,
.btn-edit {
    background-color: #d28b49;
    color: #fff;
}

#parent .recipe-link {
    text-decoration: none;
    color: black;
}

.navbar-brand {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #d28b49;
}
